In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.decomposition import FactorAnalysis
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/credit_data.csv')
df.columns = ['id', 'salario', 'idade', 'emprestimo', 'aprovado']

In [3]:
print(df)

        id       salario      idade   emprestimo  aprovado
0        1  66155.925095  59.017015  8106.532131         0
1        2  34415.153966  48.117153  6564.745018         0
2        3  57317.170063  63.108049  8020.953296         0
3        4  42709.534201  45.751972  6103.642260         0
4        5  66952.688845  18.584336  8770.099235         1
...    ...           ...        ...          ...       ...
1995  1996  59221.044874  48.518179  1926.729397         0
1996  1997  69516.127573  23.162104  3503.176156         0
1997  1998  44311.449262  28.017167  5522.786693         1
1998  1999  43756.056605  63.971796  1622.722598         0
1999  2000  69436.579552  56.152617  7378.833599         0

[2000 rows x 5 columns]

In [4]:
#Corrigindo valores Negativos na Base

In [5]:
media_pos = df['idade'][df.idade > 0].mean()
df.loc[df.idade < 0, 'idade'] = media_pos

In [6]:
print(df.lt(0).sum())

id            0
salario       0
idade         0
emprestimo    0
aprovado      0
dtype: int64

In [7]:
#Corrigindo valores Nulos na Base

In [8]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(df)
df = imp.transform(df)

In [9]:
df = pd.DataFrame(data=df)
df.columns = ['id', 'salario', 'idade', 'emprestimo', 'aprovado']

In [10]:
df.isnull().sum()

id            0
salario       0
idade         0
emprestimo    0
aprovado      0
dtype: int64

In [11]:
print(df)

          id       salario      idade   emprestimo  aprovado
0        1.0  66155.925095  59.017015  8106.532131       0.0
1        2.0  34415.153966  48.117153  6564.745018       0.0
2        3.0  57317.170063  63.108049  8020.953296       0.0
3        4.0  42709.534201  45.751972  6103.642260       0.0
4        5.0  66952.688845  18.584336  8770.099235       1.0
...      ...           ...        ...          ...       ...
1995  1996.0  59221.044874  48.518179  1926.729397       0.0
1996  1997.0  69516.127573  23.162104  3503.176156       0.0
1997  1998.0  44311.449262  28.017167  5522.786693       1.0
1998  1999.0  43756.056605  63.971796  1622.722598       0.0
1999  2000.0  69436.579552  56.152617  7378.833599       0.0

[2000 rows x 5 columns]

In [12]:
factors = FactorAnalysis(n_components=5).fit(df)

In [13]:
print (factors.components_)

[[-2.27297285e+01 -1.43203236e+04  4.34103056e-01 -1.39306004e+03
  -3.48168457e-03]
 [ 6.43831942e-01 -2.63359525e+02  3.22864188e-01  2.70726202e+03
   1.46043808e-01]
 [-5.76901374e+02  8.93889983e-01  3.87124405e-01  2.24101933e-01
   7.32448874e-03]
 [ 8.82814453e-03  5.23686709e-04  1.31940075e+01 -1.41005292e-03
  -1.59458994e-01]
 [ 0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
   0.00000000e+00]]

In [14]:
pcomponents = PCA(n_components=5).fit(df)

In [15]:
print(pcomponents.components_)

[[-1.57977649e-03 -9.95300520e-01  3.01713153e-05 -9.68213717e-02
  -2.41986293e-07]
 [ 2.36699721e-04 -9.68218576e-02  1.18698440e-04  9.95301690e-01
   5.36917461e-05]
 [-9.99998499e-01  1.54946422e-03  6.71040818e-04  3.88466170e-04
   1.26961929e-05]
 [ 6.70858580e-04  4.04200991e-05  9.99927510e-01 -1.14829142e-04
  -1.20212047e-02]
 [ 2.07491104e-05  5.42430345e-06  1.20211870e-02 -5.48521953e-05
   9.99927741e-01]]

In [16]:
#Outro Exemplo de Aplicação de PCA

In [17]:
factor = FactorAnalysis().fit(df)

In [18]:
pd.DataFrame(factor.components_, columns = ['id', 'salario', 'idade', 'emprestimo', 'aprovado'])

           id       salario      idade   emprestimo  aprovado
0  -22.729728 -14320.323560   0.434103 -1393.060035 -0.003482
1    0.643832   -263.359525   0.322864  2707.262020  0.146044
2 -576.901374      0.893890   0.387124     0.224102  0.007324
3    0.008828      0.000524  13.194008    -0.001410 -0.159459
4    0.000000      0.000000   0.000000    -0.000000  0.000000