### Python - Basics Concepts

In [1]:
#Célula de Código
'Teste'

'Teste'

In [2]:
# Exemplo de input
nome = input("Digite seu nome: ")

Digite seu nome: Rafael

In [3]:
# Exemplo de print
print("Seu nome é ", nome)

Seu nome é  Rafael

### Exemplos - Comentários e Textos Literais

In [4]:
#Exemplos de Comentários e Textos Literais

#01 - COmentário 01
'02 - Lit 02'
"03 - Lit 03"

'03 - Lit 03'

### Constantes
* Exemplos de `Constantes`

In [5]:
#Constantes
pi = 3,1415
dias_Semana = 7

### Variáveis Numéricas

* `int`: número inteiro
* `float`: número real (ponto flutuante)

In [6]:
#Exemplo de Variáveis Numéricas
x = 10
y = 8.9

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

### Variáveis de Texto (`str`)

* `str`: Qualquer texto gerado entre "Aspas Duplas" / 'Aspas Simples'

In [7]:
#Dois Exemplos de Strings ( Aspas Duplas e Aspas Simples)
ex01 = 'Python'
ex02 = "Para Ciência de Dados"

print(ex01 + " " + ex02)

Python Para Ciência de Dados

In [8]:
#Exemplo de String Multi-Linhas ( Doc Strings )

str_multi = """
A Python I should not advise, —
It needs a doctor for its eyes,
And has the measles yearly.
However, if you feel inclined
To get one (to improve your mind,
And not from fashion merely),
Allow no music near its cage;
And when it flies into a rage
Chastise it, most severely.
I had an Aunt in Yucatan
Who bought a Python from a man
And kept it for a pet.
She died, because she never knew
These simple little rules and few; —
The snake is living yet.
"""

print(str_multi)

A Python I should not advise, —
It needs a doctor for its eyes,
And has the measles yearly.
However, if you feel inclined
To get one (to improve your mind,
And not from fashion merely),
Allow no music near its cage;
And when it flies into a rage
Chastise it, most severely.
I had an Aunt in Yucatan
Who bought a Python from a man
And kept it for a pet.
She died, because she never knew
These simple little rules and few; —
The snake is living yet.

### fstrings

As `fstrings` foram introduzidas em Python versão 3.6 e são uma forma conveniente de nos fazermos substituição de _placeholders_ em uma string por variáveis ou expressões. Por exemplo:

```python
f"Aqui é uma string com uma {var}"
```

In [9]:
lang = "Python"
fstring = f" A Linguagem de Programação utilizada para Data Science é {lang}."
print(fstring)

 A Linguagem de Programação utilizada para Data Science é Python.

### Não temos os *parkour* de JavaScript
`str` + `int` dá erro ( Falha de Concatenação )

In [10]:
#Tentativa de Somatória entre String e Número Inteiro
#"3" + 1

### Variáveis Lógicas (`bool`)

* Verdadeiro = `True` = $1$
* Falso = `False` = $0$

In [11]:
# Cuidado com o Case Sensitive ( true != True )
python = True
print(python)
print(type(python))

True
<class 'bool'>

### Operadores Aritméticos

* Soma `x + y`
* Subtração `x - y`
* Multiplicação `x * y`
* Divisão `x / y`
* Divisão desconsiderando a parte fracionária `x // y`
* Potência `x ** y`
* Resto de uma divisão `x % y`
* Converter para Inteiro `int(x)`
* Converter para Real `float(x)`

In [12]:
#Exemplos com Operadores Aritméticos
x = 10
y = 64

print('Soma:', x + y)
print('Subtração:', x - y)
print('Multiplicação:', x * y)
print('Divisão:', x / y)
print('Divisão desconsiderando a parte fracionária:', x // y)
print('Módulo - Resto de uma divisão:', x % y)
print('x elevado à 2 potência:', x ** 2)
print('y elevado à 2 potência:', y ** 2)
print('raíz quadrada de y:', round(y ** 0.5,2))

Soma: 74
Subtração: -54
Multiplicação: 640
Divisão: 0.15625
Divisão desconsiderando a parte fracionária: 0
Módulo - Resto de uma divisão: 10
x elevado à 2 potência: 100
y elevado à 2 potência: 4096
raíz quadrada de y: 8.0

In [13]:
#Conversões de Valores
print('Converter para inteiro:', int(4.36))
print('Converter para inteiro (texto):', int("4"))
print('Converter para float:', float(9))
print('Converter para float (texto):', float("4.36"))

Converter para inteiro: 4
Converter para inteiro (texto): 4
Converter para float: 9.0
Converter para float (texto): 4.36

### Arredondamento, Piso, Teto e Absoluto
* Arredondamento `round()`
* Teto - `ceil(x)` retornará o menor número inteiro **maior** ou igual a `x`.
* Piso - `floor(x)` retornará o maior número inteiro **menor** ou igual a `x`.
* Absoluto - `abs(x)` retornará um número `x` sempre **positivo**

In [14]:
import math
#import math as m
#from math import floor, ceil

print('Arredondamento simples:', round(3.33))
print('Arredondamento com casas decimais:', round(3.33156487, 3)) # 3 casas
print('Piso (floor):', math.floor(3.99))
print('Teto (ceil):', math.ceil(3.001))

Arredondamento simples: 3
Arredondamento com casas decimais: 3.332
Piso (floor): 3
Teto (ceil): 4

### Operadores Relacionais

Uma condição é o estabelecimento de uma relação lógica entre dois elementos. Para definir uma relação lógica é necessário usar operadores relacionais. Uma relação lógica (comparação) retorna somente os valores verdadeiro (`True`) ou falso (`False`).

* Igual a: `x == y` (não existe `x === y`)
* Maior que: `x > y`
* Menor que: `x < y`
* Maior ou igual a: `x >= y`
* Menor ou igual a: `x <= y`
* Diferente de: `x != y`

In [15]:
#Exemplos de Operações Lógicas
x = 3
y = 4

print('Igual a:', x == y)
print('Maior que:', x > y)
print('Menor que:', x < y)
print('Maior ou igual a:', x >= y)
print('Menor ou igual a:', x <= y)
print('Diferente de:', x != y)

Igual a: False
Maior que: False
Menor que: True
Maior ou igual a: False
Menor ou igual a: True
Diferente de: True

### Operadores Lógicos
São utilizados para uma mesma tomada de decisão que necessite de mais de uma condição. Também são conhecidos como operadores booleanos. Operadores lógicos retornam somente os valores verdadeiro ou falso.

| Operador Lógico | Função    | Prioridade |
|-----------------|-----------|---------------------|
| `NOT`           | Negação   | 1                   |
| `AND`           | Conjunção | 2                   |
| `OR`            | Disjunção | 3                   |

In [16]:
#Exemplos com Operadores Lógicos
x = 1
y = 3
z = 5
w = 2

print((z > w) and (w > y))  # False
print((z > w) or (w > y))   # True
print(not (y + w == z))     # False

False
True
False