In [1]:
#Import All Libraries
import pandas as pd
import numpy as np

In [2]:
#Import All Specific Libraries
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [3]:
#Import Database (After Upload the Database for the Google Colab)
df = pd.read_csv('/content/credit_data.csv')

In [4]:
#View the Database
print(df)

      i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[2000 rows x 5 columns]

In [5]:
#Check the Total of Null Values in the Database
df.isnull().sum()

i#clientid    0
income        0
age           3
loan          0
c#default     0
dtype: int64

In [6]:
#Details for The NUll Values
df.loc[pd.isnull(df['age'])]

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [7]:
#Options to Fix the Null Values in the Database

In [8]:
#Option 01 - Remove the Attribute from Dataframe
df_test = pd.read_csv('/content/credit_data.csv')
df_test = df_test.drop(['age'], axis = 1)
print(df_test)

      i#clientid        income         loan  c#default
0              1  66155.925095  8106.532131          0
1              2  34415.153966  6564.745018          0
2              3  57317.170063  8020.953296          0
3              4  42709.534201  6103.642260          0
4              5  66952.688845  8770.099235          1
...          ...           ...          ...        ...
1995        1996  59221.044874  1926.729397          0
1996        1997  69516.127573  3503.176156          0
1997        1998  44311.449262  5522.786693          1
1998        1999  43756.056605  1622.722598          0
1999        2000  69436.579552  7378.833599          0

[2000 rows x 4 columns]

In [9]:
#Option 02 - Remove the Lines of the Dataframe
df_test = pd.read_csv('/content/credit_data.csv')
df_test = df_test.drop(df_test[df_test['age'] < 0].index)
print(df_test)

      i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[1997 rows x 5 columns]

In [10]:
#Option 03 - Replace only the null values with the mean of positive values in the Dataframe (Use Lib Simple Imputer)
#Attention! In this process, the Library IMP converts the Dataframe to Array, so in the end, we need to convert the Array in a Dataframe

In [11]:
#Using Imp
df_test = pd.read_csv('/content/credit_data.csv')

imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(df_test)
df_test = imp.transform(df_test)

In [12]:
#Convert the Array to Dataframe
df_test = pd.DataFrame(data=df_test)
print(df_test)

           0             1          2            3    4
0        1.0  66155.925095  59.017015  8106.532131  0.0
1        2.0  34415.153966  48.117153  6564.745018  0.0
2        3.0  57317.170063  63.108049  8020.953296  0.0
3        4.0  42709.534201  45.751972  6103.642260  0.0
4        5.0  66952.688845  18.584336  8770.099235  1.0
...      ...           ...        ...          ...  ...
1995  1996.0  59221.044874  48.518179  1926.729397  0.0
1996  1997.0  69516.127573  23.162104  3503.176156  0.0
1997  1998.0  44311.449262  28.017167  5522.786693  1.0
1998  1999.0  43756.056605  63.971796  1622.722598  0.0
1999  2000.0  69436.579552  56.152617  7378.833599  0.0

[2000 rows x 5 columns]

In [13]:
#Check the Total of Null Values in the Database After IMP
df_test.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [14]:
#Option 04 [Recommended] - Custom Function to Replace Only the Null Values in the Dataframe

In [15]:
#Function
def fixnullvalues(df, metodo='media'):

    for col in df.columns:
        if df[col].isnull().any():  # Check all the Values in Each Column
            if metodo == 'media' and pd.api.types.is_numeric_dtype(df[col]):
                df[col] = df[col].fillna(df[col].mean())  # Replace for Mean
            elif metodo == 'zero':
                df[col] = df[col].fillna(0)  # Replace for Zero
            elif metodo == 'freq':
                df[col] = df[col].fillna(df[col].mode()[0])  # Replace for the more frquency value
            else:
                print("Error!")
    return df

In [16]:
#Example of Use
df_test = pd.read_csv('/content/credit_data.csv')
df_test = fixnullvalues(df_test, metodo='media')
print(df_test)

      i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[2000 rows x 5 columns]

In [17]:
#Show the Specific Lines
print(df.loc[pd.isnull(df['age'])], "\n")

print(df_test.loc[28],"\n")
print(df_test.loc[30],"\n")
print(df_test.loc[31],"\n")

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

i#clientid       29.000000
income        59417.805406
age              40.807559
loan           2082.625938
c#default         0.000000
Name: 28, dtype: float64

i#clientid       31.000000
income        48528.852796
age              40.807559
loan           6155.784670
c#default         0.000000
Name: 30, dtype: float64

i#clientid       32.000000
income        23526.302555
age              40.807559
loan           2862.010139
c#default         0.000000
Name: 31, dtype: float64