In [1]:
#Categorização - Resolvendo variáveis Dummies

In [2]:
#Ao categorizar um atributo, os valores textuais recebem valores numéricos, como 1, 2, 3, etc.
#Mas não há uma ordem de grandeza nestes valores textuais, assim são chamadas de variáveis dummies!

In [3]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import pandas as pd
import numpy as np

In [4]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

In [5]:
#Import Database (After Upload the Database for the Google Colab)
df = pd.read_csv('/content/census.csv')

In [6]:
#Fix the Columns Names
df.columns = ['idade', 'tipo_trabalho', 'peso', 'educacao', 'educacao_numero', 'relacionamento', 'ocupacao', 'relacionamento', 'raca', 'sexo', 'capital_ganho', 'capital_perda', 'horas_semana', 'nacionalidade', 'salario']

In [7]:
print(df)

       idade      tipo_trabalho    peso     educacao  educacao_numero  \
0         39          State-gov   77516    Bachelors               13
1         50   Self-emp-not-inc   83311    Bachelors               13
2         38            Private  215646      HS-grad                9
3         53            Private  234721         11th                7
4         28            Private  338409    Bachelors               13
...      ...                ...     ...          ...              ...
32556     27            Private  257302   Assoc-acdm               12
32557     40            Private  154374      HS-grad                9
32558     58            Private  151910      HS-grad                9
32559     22            Private  201490      HS-grad                9
32560     52       Self-emp-inc  287927      HS-grad                9

            relacionamento            ocupacao  relacionamento    raca  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

          sexo  capital_ganho  capital_perda  horas_semana   nacionalidade  \
0         Male           2174              0            40   United-States
1         Male              0              0            13   United-States
2         Male              0              0            40   United-States
3         Male              0              0            40   United-States
4       Female              0              0            40            Cuba
...        ...            ...            ...           ...             ...
32556   Female              0              0            38   United-States
32557     Male              0              0            40   United-States
32558   Female              0              0            40   United-States
32559     Male              0              0            20   United-States
32560   Female          15024              0            40   United-States

      salario
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

In [8]:
#Divisão da base entre Previsores e Classificadores
X = df.iloc[:,0:14].values
Y = df.iloc[:, 14].values

In [9]:
#Definição da lista dos atributos com variáveis Dummies e atribuição dos valores na função OneHotEncoder
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
X = onehotencorder.fit_transform(X).toarray()

In [10]:
#Após a correção das variáveis Dummies, é necessário converter a base para um DataFrame
X = pd.DataFrame(data=X)

In [11]:
#Visualização do Resultado
print(X)

       0    1    2    3    4    5    6    7    8    9    ...  98   99   100  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
3      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
4      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32556  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32557  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32558  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32559  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32560  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0

       101   102       103   104      105  106   107
0      0.0  39.0   77516.0  13.0   2174.0  0.0  40.0
1      0.0  50.0   83311.0  13.0      0.0  0.0  13.0
2      0.0  38.0  215646.0   9.0      0.0  0.0  40.0
3      0.0  53.0  234721.0   7.0      0.0  0.0  40.0
4      0.0  28.0  338409.0  13.0      0.0  0.0  40.0
...    ...   ...       ...   ...      ...  ...   ...
32556  0.0  27.0  257302.0  12.0      0.0  0.0  38.0
32557  0.0  40.0  154374.0   9.0      0.0  0.0  40.0
32558  0.0  58.0  151910.0   9.0      0.0  0.0  40.0
32559  0.0  22.0  201490.0   9.0      0.0  0.0  20.0
32560  0.0  52.0  287927.0   9.0  15024.0  0.0  40.0

[32561 rows x 108 columns]

In [12]:
#Houve um Aumento de 15 Colunas para 109 Colunas
print(X.iloc[:,0:109])

       0    1    2    3    4    5    6    7    8    9    ...  98   99   100  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
3      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
4      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32556  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32557  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32558  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32559  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32560  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0

       101   102       103   104      105  106   107
0      0.0  39.0   77516.0  13.0   2174.0  0.0  40.0
1      0.0  50.0   83311.0  13.0      0.0  0.0  13.0
2      0.0  38.0  215646.0   9.0      0.0  0.0  40.0
3      0.0  53.0  234721.0   7.0      0.0  0.0  40.0
4      0.0  28.0  338409.0  13.0      0.0  0.0  40.0
...    ...   ...       ...   ...      ...  ...   ...
32556  0.0  27.0  257302.0  12.0      0.0  0.0  38.0
32557  0.0  40.0  154374.0   9.0      0.0  0.0  40.0
32558  0.0  58.0  151910.0   9.0      0.0  0.0  40.0
32559  0.0  22.0  201490.0   9.0      0.0  0.0  20.0
32560  0.0  52.0  287927.0   9.0  15024.0  0.0  40.0

[32561 rows x 108 columns]

In [13]:
#Exportando para um arquivo .csv
X.to_csv('/content/census_update.csv', index=False);