In [1]:
#Correção de Valores Negativos na Base

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/credit_data.csv')
df.columns = ['id', 'salario', 'idade', 'emprestimo', 'aprovado']

In [4]:
print(df)

        id       salario      idade   emprestimo  aprovado
0        1  66155.925095  59.017015  8106.532131         0
1        2  34415.153966  48.117153  6564.745018         0
2        3  57317.170063  63.108049  8020.953296         0
3        4  42709.534201  45.751972  6103.642260         0
4        5  66952.688845  18.584336  8770.099235         1
...    ...           ...        ...          ...       ...
1995  1996  59221.044874  48.518179  1926.729397         0
1996  1997  69516.127573  23.162104  3503.176156         0
1997  1998  44311.449262  28.017167  5522.786693         1
1998  1999  43756.056605  63.971796  1622.722598         0
1999  2000  69436.579552  56.152617  7378.833599         0

[2000 rows x 5 columns]

In [5]:
#Identificação e Correção de valores negativos na base

In [6]:
print(df.lt(0))

         id  salario  idade  emprestimo  aprovado
0     False    False  False       False     False
1     False    False  False       False     False
2     False    False  False       False     False
3     False    False  False       False     False
4     False    False  False       False     False
...     ...      ...    ...         ...       ...
1995  False    False  False       False     False
1996  False    False  False       False     False
1997  False    False  False       False     False
1998  False    False  False       False     False
1999  False    False  False       False     False

[2000 rows x 5 columns]

In [7]:
print(df.lt(0).sum())

id            0
salario       0
idade         3
emprestimo    0
aprovado      0
dtype: int64

In [8]:
#localizando os valores Negativos informados na Base

In [9]:
df.loc[df.idade < 0, 'idade']

15   -28.218361
21   -52.423280
26   -36.496976
Name: idade, dtype: float64

In [10]:
df[df['idade'] < 0]

    id       salario      idade   emprestimo  aprovado
15  16  50501.726689 -28.218361  3977.287432         0
21  22  32197.620701 -52.423280  4244.057136         0
26  27  63287.038908 -36.496976  9595.286289         0

In [11]:
#Abaixo são descritos algumas possíveis soluções para corrigir os valores negativos na base

In [12]:
#Exemplo 01 - Remoção de um atributo na base

In [13]:
exemplo1 = df
print(exemplo1)

        id       salario      idade   emprestimo  aprovado
0        1  66155.925095  59.017015  8106.532131         0
1        2  34415.153966  48.117153  6564.745018         0
2        3  57317.170063  63.108049  8020.953296         0
3        4  42709.534201  45.751972  6103.642260         0
4        5  66952.688845  18.584336  8770.099235         1
...    ...           ...        ...          ...       ...
1995  1996  59221.044874  48.518179  1926.729397         0
1996  1997  69516.127573  23.162104  3503.176156         0
1997  1998  44311.449262  28.017167  5522.786693         1
1998  1999  43756.056605  63.971796  1622.722598         0
1999  2000  69436.579552  56.152617  7378.833599         0

[2000 rows x 5 columns]

In [14]:
exemplo1 = exemplo1.drop(['idade'], axis = 1)
print(exemplo1)

        id       salario   emprestimo  aprovado
0        1  66155.925095  8106.532131         0
1        2  34415.153966  6564.745018         0
2        3  57317.170063  8020.953296         0
3        4  42709.534201  6103.642260         0
4        5  66952.688845  8770.099235         1
...    ...           ...          ...       ...
1995  1996  59221.044874  1926.729397         0
1996  1997  69516.127573  3503.176156         0
1997  1998  44311.449262  5522.786693         1
1998  1999  43756.056605  1622.722598         0
1999  2000  69436.579552  7378.833599         0

[2000 rows x 4 columns]

In [15]:
#Exemplo 02 - Remoção dos registros da base

In [16]:
exemplo2 = df
print(exemplo2)

        id       salario      idade   emprestimo  aprovado
0        1  66155.925095  59.017015  8106.532131         0
1        2  34415.153966  48.117153  6564.745018         0
2        3  57317.170063  63.108049  8020.953296         0
3        4  42709.534201  45.751972  6103.642260         0
4        5  66952.688845  18.584336  8770.099235         1
...    ...           ...        ...          ...       ...
1995  1996  59221.044874  48.518179  1926.729397         0
1996  1997  69516.127573  23.162104  3503.176156         0
1997  1998  44311.449262  28.017167  5522.786693         1
1998  1999  43756.056605  63.971796  1622.722598         0
1999  2000  69436.579552  56.152617  7378.833599         0

[2000 rows x 5 columns]

In [17]:
exemplo2 = df.drop(df[df['idade'] < 0].index)
print(exemplo2)

        id       salario      idade   emprestimo  aprovado
0        1  66155.925095  59.017015  8106.532131         0
1        2  34415.153966  48.117153  6564.745018         0
2        3  57317.170063  63.108049  8020.953296         0
3        4  42709.534201  45.751972  6103.642260         0
4        5  66952.688845  18.584336  8770.099235         1
...    ...           ...        ...          ...       ...
1995  1996  59221.044874  48.518179  1926.729397         0
1996  1997  69516.127573  23.162104  3503.176156         0
1997  1998  44311.449262  28.017167  5522.786693         1
1998  1999  43756.056605  63.971796  1622.722598         0
1999  2000  69436.579552  56.152617  7378.833599         0

[1997 rows x 5 columns]

In [18]:
#Exemplo 03 [Adequada] - Descoberta da média dos valores positivos e substituição na base dos valores negativos

In [19]:
exemplo3 = df
print(exemplo3)

        id       salario      idade   emprestimo  aprovado
0        1  66155.925095  59.017015  8106.532131         0
1        2  34415.153966  48.117153  6564.745018         0
2        3  57317.170063  63.108049  8020.953296         0
3        4  42709.534201  45.751972  6103.642260         0
4        5  66952.688845  18.584336  8770.099235         1
...    ...           ...        ...          ...       ...
1995  1996  59221.044874  48.518179  1926.729397         0
1996  1997  69516.127573  23.162104  3503.176156         0
1997  1998  44311.449262  28.017167  5522.786693         1
1998  1999  43756.056605  63.971796  1622.722598         0
1999  2000  69436.579552  56.152617  7378.833599         0

[2000 rows x 5 columns]

In [20]:
#Descobrindo a média dos valores positivos

In [21]:
media_pos = exemplo3['idade'][exemplo3.idade > 0].mean()
print(media_pos)

40.92770044906149

In [22]:
exemplo3.loc[exemplo3.idade < 0, 'idade'] = media_pos

In [23]:
print(exemplo3.lt(0).sum())

id            0
salario       0
idade         0
emprestimo    0
aprovado      0
dtype: int64

In [25]:
#Aplciando as correções na Base e exportando para um arquivo .csv

In [28]:
df = pd.read_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/credit_data_updated.csv')
df.columns = ['id', 'salario', 'idade', 'emprestimo', 'aprovado']

In [29]:
media_pos = df['idade'][df.idade > 0].mean()
print(media_pos)

40.92770044906149

In [30]:
df.loc[df.idade < 0, 'idade'] = media_pos

In [31]:
print(df.lt(0).sum())

id            0
salario       0
idade         0
emprestimo    0
aprovado      0
dtype: int64

In [32]:
df.to_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/credit_data_updated.csv', index=False);