## Vari√°veis Dummies (Dummy Variables)

Dummy variables are a way to represent categorical data (like "Married" or "Single") numerically for machine learning. Instead of assigning a single number to each category, you create new binary columns for each category. A '1' indicates presence in a category, and '0' indicates absence. This converts categories into a numerical format without implying order. `OneHotEncoder` is used for this.

In [1]:
#Import Libs
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import pandas as pd
import numpy as np

In [2]:
#Fix Warnings
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

In [3]:
#Read the Database
df = pd.read_csv('/content/census.csv')
print(df)

       age          workclass  final-weight    education  education-num  \
0       39          State-gov         77516    Bachelors             13
1       50   Self-emp-not-inc         83311    Bachelors             13
2       38            Private        215646      HS-grad              9
3       53            Private        234721         11th              7
4       28            Private        338409    Bachelors             13
...    ...                ...           ...          ...            ...
32556   27            Private        257302   Assoc-acdm             12
32557   40            Private        154374      HS-grad              9
32558   58            Private        151910      HS-grad              9
32559   22            Private        201490      HS-grad              9
32560   52       Self-emp-inc        287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loos  hour-per-week  native-country  \
0         Male          2174             0             40   United-States
1         Male             0             0             13   United-States
2         Male             0             0             40   United-States
3         Male             0             0             40   United-States
4       Female             0             0             40            Cuba
...        ...           ...           ...            ...             ...
32556   Female             0             0             38   United-States
32557     Male             0             0             40   United-States
32558   Female             0             0             40   United-States
32559     Male             0             0             20   United-States
32560   Female         15024             0             40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

In [4]:
#Divide the Dataframe in: Data and Classifier
X = df.iloc[:,0:14].values
Y = df.iloc[:, 14].values

In [5]:
#Using OneHotEncoder to Transform the Categorical Attributes in a Numeric Values
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')

In [6]:
#Apply OneHotEncoder
X = onehotencorder.fit_transform(X).toarray()

In [7]:
#After fix the Dummies Values, we need to convert the Array to DataFrame
X = pd.DataFrame(data=X)

In [8]:
#Show the Results
print(X)

       0    1    2    3    4    5    6    7    8    9    ...  98   99   100  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
3      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
4      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32556  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32557  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32558  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32559  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32560  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0

       101   102       103   104      105  106   107
0      0.0  39.0   77516.0  13.0   2174.0  0.0  40.0
1      0.0  50.0   83311.0  13.0      0.0  0.0  13.0
2      0.0  38.0  215646.0   9.0      0.0  0.0  40.0
3      0.0  53.0  234721.0   7.0      0.0  0.0  40.0
4      0.0  28.0  338409.0  13.0      0.0  0.0  40.0
...    ...   ...       ...   ...      ...  ...   ...
32556  0.0  27.0  257302.0  12.0      0.0  0.0  38.0
32557  0.0  40.0  154374.0   9.0      0.0  0.0  40.0
32558  0.0  58.0  151910.0   9.0      0.0  0.0  40.0
32559  0.0  22.0  201490.0   9.0      0.0  0.0  20.0
32560  0.0  52.0  287927.0   9.0  15024.0  0.0  40.0

[32561 rows x 108 columns]