In statistics and data analysis for Data Science, variables can be classified based on the type of values they can take. Here's a breakdown of the types you mentioned:

**Numerical Variables:** These represent quantities and can be further divided into:

*   **Continuous Variables: ( Real Numbers )** These can take any value within a given range. Examples include:
    *   Height
    *   Weight
    *   Temperature
    *   Time
*   **Discrete Variables: ( Set of Finit Values )** These can only take specific, distinct values, often whole numbers. Examples include:
    *   Number of students in a class
    *   Count of defects in a product
    *   Number of cars passing a point on a road

**Categorical Variables:** These represent categories or groups and can be further divided into:

*   **Nominal Variables: ( Data Unmeasureable )** These represent categories that do not have a natural order or ranking. Examples include:
    *   Colors (red, blue, green)
    *   Marital status (single, married, divorced)
    *   Types of animals (cat, dog, bird)
*   **Ordinal Variables:** These represent categories that have a natural order or ranking. The difference between categories is not necessarily equal. Examples include:
    *   Education levels (high school, bachelor's, master's)
    *   Satisfaction ratings (low, medium, high)
    *   T-shirt sizes (small, medium, large)

In [1]:
#Import Libs
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import pandas as pd
import numpy as np

In [2]:
#Fix Warnings
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

In [3]:
#Read the Dataframe
df = pd.read_csv('/content/census.csv')
print(df)

       age          workclass  final-weight    education  education-num  \
0       39          State-gov         77516    Bachelors             13
1       50   Self-emp-not-inc         83311    Bachelors             13
2       38            Private        215646      HS-grad              9
3       53            Private        234721         11th              7
4       28            Private        338409    Bachelors             13
...    ...                ...           ...          ...            ...
32556   27            Private        257302   Assoc-acdm             12
32557   40            Private        154374      HS-grad              9
32558   58            Private        151910      HS-grad              9
32559   22            Private        201490      HS-grad              9
32560   52       Self-emp-inc        287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loos  hour-per-week  native-country  \
0         Male          2174             0             40   United-States
1         Male             0             0             13   United-States
2         Male             0             0             40   United-States
3         Male             0             0             40   United-States
4       Female             0             0             40            Cuba
...        ...           ...           ...            ...             ...
32556   Female             0             0             38   United-States
32557     Male             0             0             40   United-States
32558   Female             0             0             40   United-States
32559     Male             0             0             20   United-States
32560   Female         15024             0             40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

In [4]:
#Select the Categorical Attributes and Create a List with their positions.
attr = [1,3,5,6,7,8,9,13]

In [5]:
#Start the Label Encoder Function
labelencorder_X = LabelEncoder()

In [6]:
#Loop for Fix the Categorical Values
for i in attr:
  df.iloc[:,i] = labelencorder_X.fit_transform(df.iloc[:,i])

In [7]:
#Show the Dataframe
print(df)

       age workclass  final-weight education  education-num marital-status  \
0       39         7         77516         9             13              4
1       50         6         83311         9             13              2
2       38         4        215646        11              9              0
3       53         4        234721         1              7              2
4       28         4        338409         9             13              2
...    ...       ...           ...       ...            ...            ...
32556   27         4        257302         7             12              2
32557   40         4        154374        11              9              2
32558   58         4        151910        11              9              6
32559   22         4        201490        11              9              4
32560   52         5        287927        11              9              2

      occupation relationship race sex  capital-gain  capital-loos  \
0              1            1    4   1          2174             0
1              4            0    4   1             0             0
2              6            1    4   1             0             0
3              6            0    2   1             0             0
4             10            5    2   0             0             0
...          ...          ...  ...  ..           ...           ...
32556         13            5    4   0             0             0
32557          7            0    4   1             0             0
32558          1            4    4   0             0             0
32559          1            3    4   1             0             0
32560          4            5    4   0         15024             0

       hour-per-week native-country  income
0                 40             39   <=50K
1                 13             39   <=50K
2                 40             39   <=50K
3                 40             39   <=50K
4                 40              5   <=50K
...              ...            ...     ...
32556             38             39   <=50K
32557             40             39    >50K
32558             40             39   <=50K
32559             20             39   <=50K
32560             40             39    >50K

[32561 rows x 15 columns]

In [8]:
#Fix the Last Attribute ( Classifier )
labelencorder_classe = LabelEncoder()
df.iloc[:,14] = labelencorder_X.fit_transform(df.iloc[:,14])
print(df.iloc[:,14])

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: income, Length: 32561, dtype: object