In [1]:
#Categorização - Resolvendo variáveis Dummies

In [2]:
#Ao categorizar um atributo, os valores textuais recebem valores numéricos, como 1, 2, 3, etc. 
#Mas não há uma ordem de grandeza nestes valores textuais, assim são chamadas de variáveis dummies!

In [3]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import pandas as pd
import numpy as np

In [4]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

In [5]:
df = pd.read_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/census_updated.csv')
df.columns = ['idade', 'tipo_trabalho', 'peso', 'educacao', 'educacao_numero', 'relacionamento', 'ocupacao', 'relacionamento', 'raca', 'sexo', 'capital_ganho', 'capital_perda', 'horas_semana', 'nacionalidade', 'salario']

In [6]:
print(df)

       idade  tipo_trabalho    peso  educacao  educacao_numero  \
0         39              7   77516         9               13
1         50              6   83311         9               13
2         38              4  215646        11                9
3         53              4  234721         1                7
4         28              4  338409         9               13
...      ...            ...     ...       ...              ...
32556     27              4  257302         7               12
32557     40              4  154374        11                9
32558     58              4  151910        11                9
32559     22              4  201490        11                9
32560     52              5  287927        11                9

       relacionamento  ocupacao  relacionamento  raca  sexo  capital_ganho  \
0                   4         1               4     4     1           2174
1                   2         4               2     4     1              0
2                   0         6               0     4     1              0
3                   2         6               2     2     1              0
4                   2        10               2     2     0              0
...               ...       ...             ...   ...   ...            ...
32556               2        13               2     4     0              0
32557               2         7               2     4     1              0
32558               6         1               6     4     0              0
32559               4         1               4     4     1              0
32560               2         4               2     4     0          15024

       capital_perda  horas_semana  nacionalidade  salario
0                  0            40             39        0
1                  0            13             39        0
2                  0            40             39        0
3                  0            40             39        0
4                  0            40              5        0
...              ...           ...            ...      ...
32556              0            38             39        0
32557              0            40             39        1
32558              0            40             39        0
32559              0            20             39        0
32560              0            40             39        1

[32561 rows x 15 columns]

In [7]:
#Divisão da base entre Previsores e Classificadores

In [8]:
X = df.iloc[:,0:14].values
Y = df.iloc[:, 14].values

In [9]:
#Definição da lista dos atributos com variáveis Dummies e atribuição dos valores na função OneHotEncoder

In [10]:
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
X = onehotencorder.fit_transform(X).toarray()

In [11]:
#Após a correção das variáveis Dummies, é necessário converter a base para um DataFrame

In [12]:
X = pd.DataFrame(data=X)

In [13]:
print(X)

       0    1    2    3    4    5    6    7    8    9    ...  99   100  101  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
3      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
4      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32556  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32557  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32558  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32559  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32560  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0

       102   103       104   105      106  107   108
0      0.0  39.0   77516.0  13.0   2174.0  0.0  40.0
1      0.0  50.0   83311.0  13.0      0.0  0.0  13.0
2      0.0  38.0  215646.0   9.0      0.0  0.0  40.0
3      0.0  53.0  234721.0   7.0      0.0  0.0  40.0
4      0.0  28.0  338409.0  13.0      0.0  0.0  40.0
...    ...   ...       ...   ...      ...  ...   ...
32556  0.0  27.0  257302.0  12.0      0.0  0.0  38.0
32557  0.0  40.0  154374.0   9.0      0.0  0.0  40.0
32558  0.0  58.0  151910.0   9.0      0.0  0.0  40.0
32559  0.0  22.0  201490.0   9.0      0.0  0.0  20.0
32560  0.0  52.0  287927.0   9.0  15024.0  0.0  40.0

[32561 rows x 109 columns]

In [14]:
#Houve um Aumento de 15 Colunas para 109 Colunas

In [15]:
print(X.iloc[:,0:109])

       0    1    2    3    4    5    6    7    8    9    ...  99   100  101  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
2      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
3      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
4      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32556  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32557  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32558  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32559  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0
32560  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  0.0

       102   103       104   105      106  107   108
0      0.0  39.0   77516.0  13.0   2174.0  0.0  40.0
1      0.0  50.0   83311.0  13.0      0.0  0.0  13.0
2      0.0  38.0  215646.0   9.0      0.0  0.0  40.0
3      0.0  53.0  234721.0   7.0      0.0  0.0  40.0
4      0.0  28.0  338409.0  13.0      0.0  0.0  40.0
...    ...   ...       ...   ...      ...  ...   ...
32556  0.0  27.0  257302.0  12.0      0.0  0.0  38.0
32557  0.0  40.0  154374.0   9.0      0.0  0.0  40.0
32558  0.0  58.0  151910.0   9.0      0.0  0.0  40.0
32559  0.0  22.0  201490.0   9.0      0.0  0.0  20.0
32560  0.0  52.0  287927.0   9.0  15024.0  0.0  40.0

[32561 rows x 109 columns]

In [16]:
X['salario'] = Y

In [17]:
print(X)

         0    1    2    3    4    5    6    7    8    9  ...  100  101  102  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  1.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
2      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
3      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
4      0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32556  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
32557  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
32558  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
32559  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
32560  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0

        103       104   105      106  107   108  salario
0      39.0   77516.0  13.0   2174.0  0.0  40.0        0
1      50.0   83311.0  13.0      0.0  0.0  13.0        0
2      38.0  215646.0   9.0      0.0  0.0  40.0        0
3      53.0  234721.0   7.0      0.0  0.0  40.0        0
4      28.0  338409.0  13.0      0.0  0.0  40.0        0
...     ...       ...   ...      ...  ...   ...      ...
32556  27.0  257302.0  12.0      0.0  0.0  38.0        0
32557  40.0  154374.0   9.0      0.0  0.0  40.0        1
32558  58.0  151910.0   9.0      0.0  0.0  40.0        0
32559  22.0  201490.0   9.0      0.0  0.0  20.0        0
32560  52.0  287927.0   9.0  15024.0  0.0  40.0        1

[32561 rows x 110 columns]

In [18]:
#Exportando para um arquivo .csv

In [19]:
X.to_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/census_updated.csv', index=False);