In [1]:
#Correção de Valores Categóricos

In [2]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import pandas as pd
import numpy as np

In [3]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

In [4]:
df = pd.read_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/census.csv')
df.columns = ['idade', 'tipo_trabalho', 'peso', 'educacao', 'educacao_numero', 'relacionamento', 'ocupacao', 'relacionamento', 'raca', 'sexo', 'capital_ganho', 'capital_perda', 'horas_semana', 'nacionalidade', 'salario']

In [5]:
print(df)

       idade      tipo_trabalho    peso     educacao  educacao_numero  \
0         39          State-gov   77516    Bachelors               13
1         50   Self-emp-not-inc   83311    Bachelors               13
2         38            Private  215646      HS-grad                9
3         53            Private  234721         11th                7
4         28            Private  338409    Bachelors               13
...      ...                ...     ...          ...              ...
32556     27            Private  257302   Assoc-acdm               12
32557     40            Private  154374      HS-grad                9
32558     58            Private  151910      HS-grad                9
32559     22            Private  201490      HS-grad                9
32560     52       Self-emp-inc  287927      HS-grad                9

            relacionamento            ocupacao  relacionamento    raca  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

          sexo  capital_ganho  capital_perda  horas_semana   nacionalidade  \
0         Male           2174              0            40   United-States
1         Male              0              0            13   United-States
2         Male              0              0            40   United-States
3         Male              0              0            40   United-States
4       Female              0              0            40            Cuba
...        ...            ...            ...           ...             ...
32556   Female              0              0            38   United-States
32557     Male              0              0            40   United-States
32558   Female              0              0            40   United-States
32559     Male              0              0            20   United-States
32560   Female          15024              0            40   United-States

      salario
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

In [6]:
#Divisão da Base entre Previsores e Classificadores

In [7]:
X = df.iloc[:,0:14].values
Y = df.iloc[:, 14].values

In [8]:
#Após analisar a base, define-se quais os atributos serão categorizados
#Uma dica é criar um vetor com a numeração de todos os atributos e aplicar um laço for para

In [9]:
labelencorder_X = LabelEncoder()
colunas_cat = [1,3,5,6,7,8,9,13]

In [10]:
for i in colunas_cat:
    X[:,i] = labelencorder_X.fit_transform(X[:,i])

In [11]:
#Após a correção dos atributos, é necessário converter a base novamente para o formato DataFrame

In [12]:
X = pd.DataFrame(data=X)
X.columns = ['idade', 'tipo_trabalho', 'peso', 'educacao', 'educacao_numero', 'relacionamento', 'ocupacao', 'relacionamento', 'raca', 'sexo', 'capital_ganho', 'capital_perda', 'horas_semana', 'nacionalidade']

In [13]:
df.iloc[:,0:14] = X

In [14]:
print(df)

      idade tipo_trabalho    peso educacao educacao_numero relacionamento  \
0        39             7   77516        9              13              4
1        50             6   83311        9              13              2
2        38             4  215646       11               9              0
3        53             4  234721        1               7              2
4        28             4  338409        9              13              2
...     ...           ...     ...      ...             ...            ...
32556    27             4  257302        7              12              2
32557    40             4  154374       11               9              2
32558    58             4  151910       11               9              6
32559    22             4  201490       11               9              4
32560    52             5  287927       11               9              2

      ocupacao relacionamento raca sexo capital_ganho capital_perda  \
0            1              4    4    1          2174             0
1            4              2    4    1             0             0
2            6              0    4    1             0             0
3            6              2    2    1             0             0
4           10              2    2    0             0             0
...        ...            ...  ...  ...           ...           ...
32556       13              2    4    0             0             0
32557        7              2    4    1             0             0
32558        1              6    4    0             0             0
32559        1              4    4    1             0             0
32560        4              2    4    0         15024             0

      horas_semana nacionalidade salario
0               40            39   <=50K
1               13            39   <=50K
2               40            39   <=50K
3               40            39   <=50K
4               40             5   <=50K
...            ...           ...     ...
32556           38            39   <=50K
32557           40            39    >50K
32558           40            39   <=50K
32559           20            39   <=50K
32560           40            39    >50K

[32561 rows x 15 columns]

In [15]:
#Categorização dos valores dos Classificadores

In [16]:
labelencorder_classe = LabelEncoder()
Y = labelencorder_classe.fit_transform(Y)

In [17]:
print(Y)

[0 0 0 ... 0 0 1]

In [18]:
print(df.iloc[:,14])

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: salario, Length: 32561, dtype: object

In [19]:
df.iloc[:,14] = Y

In [22]:
print(df)

      idade tipo_trabalho    peso educacao educacao_numero relacionamento  \
0        39             7   77516        9              13              4
1        50             6   83311        9              13              2
2        38             4  215646       11               9              0
3        53             4  234721        1               7              2
4        28             4  338409        9              13              2
...     ...           ...     ...      ...             ...            ...
32556    27             4  257302        7              12              2
32557    40             4  154374       11               9              2
32558    58             4  151910       11               9              6
32559    22             4  201490       11               9              4
32560    52             5  287927       11               9              2

      ocupacao relacionamento raca sexo capital_ganho capital_perda  \
0            1              4    4    1          2174             0
1            4              2    4    1             0             0
2            6              0    4    1             0             0
3            6              2    2    1             0             0
4           10              2    2    0             0             0
...        ...            ...  ...  ...           ...           ...
32556       13              2    4    0             0             0
32557        7              2    4    1             0             0
32558        1              6    4    0             0             0
32559        1              4    4    1             0             0
32560        4              2    4    0         15024             0

      horas_semana nacionalidade salario
0               40            39       0
1               13            39       0
2               40            39       0
3               40            39       0
4               40             5       0
...            ...           ...     ...
32556           38            39       0
32557           40            39       1
32558           40            39       0
32559           20            39       0
32560           40            39       1

[32561 rows x 15 columns]

In [16]:
#Exportando para um arquivo .csv

In [21]:
df.to_csv('D:/OneDrive/OneDrive - Etec Centro Paula Souza/Databases/census_updated.csv', index=False);